<html>

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/github.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/twemoji-awesome-clone@1.0.0/twemoji-awesome.css">
    <style>
        aside {
            width: 20%;
            padding: 35px 55px;
            float: left;
        }

        .content table td {
            border: 0px;
        }

        tr {
            line-height: 3em;
        }

        nav.navbar {
            height: 80px;
            padding: 0px 35px;
        }

        div.container {
            float: left;
            width: 60%;
            margin: 35px 5%;
        }

        strong.method {
            font-size: 2em;
            padding-right: 10px;
        }

        a strong {
            color: black;
        }

        small.generated {
            font-size: .65em;
            font-style: italic;
        }

        /*readme*/
        .README li {
            padding: 5px 40px;
        }

        .README h1,.README h2,.README h3,.README h4 {
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
    </style>
    <title>soldoc</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://github.com/sodocjs/soldoc">
                <h1 class="title is-1">soldoc</h1>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="index.html">
                    Home
                </a>
                {{#hasLICENSE}}
                <a class="navbar-item" href="license.html">
                    LICENSE
                </a>
                {{/hasLICENSE}}

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                    More soldoc
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="https://github.com/sodocjs/soldoc/wiki/About">
                            About
                        </a>
                        <a class="navbar-item" href="#">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="https://github.com/sodocjs/soldoc/issues">
                            Report an issue
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <aside class="menu">
        {{#contractsStructure}}
        <p class="menu-label">{{name}}</p>
        <ul class="menu-list">
            {{#functions}}
            <li><a href="{{filename}}.html#{{name}}">{{name}}</a></li>
            {{/functions}}
        </ul>
        {{/contractsStructure}}
    </aside>

    {{#README}}
    <div class="container">
        <div class="README">
            {{{README}}}
        </div>
    </div>
    {{/README}}
    {{#LICENSE}}
    <div class="container">
        <div class="LICENSE" style="text-align: center;">
            {{{LICENSE}}}
        </div>
    </div>
    {{/LICENSE}}
    {{#CONTRACT}}
    <div class="container">

        <div class="notification">
            <h1 class="title is-1" id="contractName">{{contract.name}}</h1>
            {{#contractData.contract.title}}
                <h2 class="subtitle">{{contractData.contract.title}}
                {{#contractData.contract.author}}
                by <i id="author">@{{contractData.contract.author}}</i>
                {{/contractData.contract.author}}
                </h2>
            {{/contractData.contract.title}}
            {{filePath}}
            {{#contractData.contract.dev}}
                <p>{{contractData.contract.dev}}</p>
            {{/contractData.contract.dev}}
            {{#contractData.contract.notice}}
                <p>{{contractData.contract.notice}}</p>
            {{/contractData.contract.notice}}
            <small class="generated">Generated in {{currentDate}}</small>
        </div>

        {{#contractData.constructor}}
        <div class="box" style="border-top: red 1px solid;">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a name="constructor">
                                <strong class="method">constructor</strong>
                            </a>
                            {{#comments.author}}
                                by <small id="author">@{{comments.author}}</small>
                            {{/comments.author}}
                            <br />
                            {{#comments.dev}}
                                <p><i>{{comments.dev}}</i></p>
                            {{/comments.dev}}
                            {{#comments.notice}}
                                <p>{{comments.notice}}</p>
                            {{/comments.notice}}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Input/Output</th>
                                        <th>Data type</th>
                                        <th>Variable name</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#ast.parameters.parameters}}
                                    <tr>
                                        <td>input</td>
                                        <td>{{typeName.name}}</td>
                                        <td>{{name}}</td>
                                        <td>{{#params}}{{name}}{{/params}}</td>
                                    </tr>
                                    {{/ast.parameters.parameters}}
                                </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        {{/contractData.constructor}}

        {{#contractData.events}}
        <div class="box" style="border-top: blue 1px solid;">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a name="{{ast.name}}">
                                <strong class="method">{{ast.name}}</strong>
                            </a>
                            {{#comments.author}}
                                by <small id="author">@{{comments.author}}</small>
                            {{/comments.author}}
                            <br />
                            {{#comments.dev}}
                                <p><i>{{comments.dev}}</i></p>
                            {{/comments.dev}}
                            {{#comments.notice}}
                                <p>{{comments.notice}}</p>
                            {{/comments.notice}}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Input/Output</th>
                                        <th>Data type</th>
                                        <th>Variable name</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#ast.parameters.parameters}}
                                    <tr>
                                        <td>input</td>
                                        <td>{{typeName.name}}</td>
                                        <td>{{name}}</td>
                                        <td>{{#params}}{{name}}{{/params}}</td>
                                    </tr>
                                    {{/ast.parameters.parameters}}
                                </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        {{/contractData.events}}

        {{#contractData.functions}}
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a name="{{ast.name}}">
                                <strong class="method">{{ast.name}}</strong>
                            </a>
                            {{#comments.author}}
                                by <small id="author">@{{comments.author}}</small>
                            {{/comments.author}}
                            <br />
                            {{#comments.dev}}
                                <p><i>{{comments.dev}}</i></p>
                            {{/comments.dev}}
                            {{#comments.notice}}
                                <p>{{comments.notice}}</p>
                            {{/comments.notice}}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Input/Output</th>
                                        <th>Data type</th>
                                        <th>Variable name</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#ast.parameters.parameters}}
                                    <tr>
                                        <td>input</td>
                                        <td>{{typeName.name}}</td>
                                        <td>{{name}}</td>
                                        <td>{{#params}}{{name}}{{/params}}</td>
                                    </tr>
                                    {{/ast.parameters.parameters}}
                                    {{#ast.returnParameters.parameters}}
                                    <tr>
                                        <td>output</td>
                                        <td>{{typeName.name}}</td>
                                        <td>{{name}}</td>
                                        <td>{{comments.return}}</td>
                                    </tr>
                                    {{/ast.returnParameters.parameters}}
                                </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        {{/contractData.functions}}
    </div>
    {{/CONTRACT}}
</body>

</html>
