<html>
    <head>
        <!-- some stuff -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <title>Soldoc</title>
    </head>
    <body>

        <!-- Navbar -->
        <div class="Navbar">
            <div class="Navbar__Container">
                <p style="font-size: 3em;">soldoc</p>
                <p>Solidity Documentation Generator</p>
            </div>
        </div>

        <!-- Main Container -->
        <div class="Main">

            <!-- Sidebar -->
            <div class="Sidebar">
                <dl>
                    <!--<dt>ERC20</dt>
                    <dd>transfer</dd>-->
                    {{#contractsStructure}}
                        <dt><a href="{{name}}.html">{{name}}</a></dt>
                        {{#functions}}
                            <dd>{{name}}</dd>
                        {{/functions}}
                    {{/contractsStructure}}
                  </dl>
            </div>


            <div class="Content">

                <!-- Content Title -->
                <p class="Content__Title">{{contract.name}}</p>
                <p class="Content__Subtitle">{{filePath}}</p>

                <!-- Content Menu -->
                <div class="Content__Menu">
                    <p class="Content__Menu-Item">Methods</p>
                    <div class="Content__Menu-Item--Grey"></div>
                </div>

                {{#contractData.constructor}}
                <!-- Constructor Cards -->
                <div class="Card Card--Constructor">
                    <div class="Card-Flex">
                        <p class="Card__Title">{{contract.name}}</p>
                        <div></div>
                        <p class="Card__SubTitle Card__SubTitle--Constructor">constructor</p>
                    </div>
                </div>
                {{/contractData.constructor}}

                {{#contractData.events}}
                <div class="Card Card--Transfer">
                    <div class="Card-Flex">
                        <p class="Card__Title">{{ast.name}}</p>
                        <div></div>
                        <p class="Card__SubTitle Card__SubTitle--Transfer">event</p>
                    </div>
                    <div class="Card-Table">
                        <div class="Card-Table__Single-Column">Inputs</div>
                        {{#ast.parameters.parameters}}
                        <div class="Card-Table__Column">
                            <p class="Card-Table__Row">0</p>
                            <p class="Card-Table__Row">{{typeName.name}}</p>
                            <p class="Card-Table__Row">
                                <code class="Card-Table__Code">{{name}}</code>
                            </p>
                        </div>
                        {{/ast.parameters.parameters}}
                    </div>
                </div>
                {{/contractData.events}}

                {{#contractData.functions}}
                <div class="Card">
                    <div class="Card-Flex">
                        <p class="Card__Title">{{ast.name}}</p>
                        <div></div>
                        <p class="Card__SubTitle Card__SubTitle--Function">function</p>
                    </div>
                    <p class="Card__Content">{{comments.dev}}</p>
                    <!-- TODO: This will be used to support sub comments, maybe a difference between @dev and @notice
                                and also, maybe supporting markdown. -->
                    <!--<p class="Card__Sub-Content">Uses the <code class="Card-Table__Code--grey">ConvertLib.sol</code> library for conversions</p>-->
                    <table class="Card-Table--border">
                    <tbody>
                        {{#ast.parameters.parameters}}
                        <tr class="Card-Table__Column">
                            <td class="bold">Inputs</td>
                            <td>{{typeName.name}}</td>
                            <td><code class="Card-Table__Code">{{name}}</code></td>
                            <td>{{#comments.params}}{{name}}{{/comments.params}}</td>
                        </tr>
                        {{/ast.parameters.parameters}}
                        {{#ast.returnParameters.parameters}}
                        <tr class="Card-Table__Column Card-Table__Row--Red">
                            <td class="bold">Outputs</td>
                            <td>{{typeName.name}}</td>
                            <td><code class="Card-Table__Code">{{name}}</code></td>
                            <td>{{comments.return}}</td>
                        </tr>
                        {{/ast.returnParameters.parameters}}
                    </tbody>
                    </table>
                </div>
                {{/contractData.functions}}

                <!-- give it some space -->
                <div style="height:50px;"></div>
            </div>
        </div>


        <!-- Footer -->
        <div class="Footer">
            <div class="Footer__Credits">©
                <span class="bold">TechHQ</span>
                - MIT, 2019
            </div>
            <div></div>
            <div class="Footer__Build-Date">
                Built using
                <span class="bold">solidity-parser-antlr</span> and
                <span class="bold">mustache</span> on
                <span class="bold">{{currentDate}}</span>
            </div>
        </div>

    </body>
</html>
