<html>
    <head>
        <!-- some stuff -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <title>SolDoc</title>
    </head>
    <body>

        <!-- Navbar -->
        <div class="Navbar">
            <div class="Navbar__Container">

                <div class="Navbar__Item Navbar__Item--No-Border-Right">
                    <p class="bold">doxity-demo</p>
                </div>
                <div class="Navbar__Version">0.0.1</div>
                <div class="Navbar__Item">
                    <p class="Navbar__Item--center Navbar__Item--Border-Left">Solidity Documentation Generator</p>
                </div>
                <div class="Navbar__Item"></div>
                <div class="Navbar__Item Navbar__Item--No-Border-Right">
                        <a href="https://github.com/obernardovieira/soldoc">
                            <i class="fas fa-home"></i>
                        </a>
                </div>

            </div>
        </div>

        <!-- Main Container -->
        <div class="Main">

            <!-- Sidebar -->
            <div class="Sidebar">
                <div class="Sidebar__Item">ConvertLib</div>
                <div class="Sidebar__Item">MetaCoin</div>
                <div class="Sidebar__Item">MyLib</div>
            </div>


            <div class="Content">

                <!-- Content Title -->
                <p class="Content__Title">MetaCoin Interface</p>
                <p class="Content__Subtitle">contracts/My_other_lib.sol</p>

                <!-- Content Menu -->
                <div class="Content__Menu">
                    <p class="Content__Menu-Item">Methods</p>
                    <div class="Content__Menu-Item--Grey"></div>
                </div>

                <!-- Constructor Cards -->
                <div class="Card Card--Constructor">
                    <p class="Card__Title">MetaCoin</p>
                    <div></div>
                    <p class="Card__SubTitle Card__SubTitle--Constructor">constructor</p>
                </div>

                <!-- Transfer Cards -->
                <div class="Card Card--Transfer">
                    <p class="Card__Title">Transfer</p>
                    <div></div>
                    <p class="Card__SubTitle Card__SubTitle--Transfer">event</p>
                </div>

                <!-- Function Cards -->
                <div class="Card">
                    <p class="Card__Title">getBalance</p>
                    <div></div>
                    <p class="Card__SubTitle Card__SubTitle--Function">function</p>
                </div>

                <div class="Card">
                    <p class="Card__Title">getBalanceInEth</p>
                    <div></div>
                    <p class="Card__SubTitle Card__SubTitle--Function">function</p>
                </div>

                <div class="Card">
                    <p class="Card__Title">sendCoin</p>
                    <div></div>
                    <p class="Card__SubTitle Card__SubTitle--Function">function</p>
                </div>
                

            </div>
        </div>


        <!-- Footer -->
        <div class="Footer">
            <div class="Footer__Credits">© 
                <span class="bold">TechHQ</span> 
                - MIT, 2019
            </div>
            <div></div>
            <div class="Footer__Build-Date">
                    Built using 
                    <span class="bold">Solidity 0.4.2+commit.af6afb04.Darwin.appleclang</span> 
                    <span class="bold">on 07/11/2019</span>
            </div>
        </div>

    </body>
</html>