<html>
    <head>
        <!-- some stuff -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <title>SolDoc</title>
    </head>
    <body>

        <!-- Navbar -->
        <div class="Navbar">
            <div class="Navbar__Container">
                <div class="Navbar__Item">
                    <p class="bold">doxity-demo</p>
                </div>
                <div class="Navbar__Item">
                    <p class="bold">Solidity Documentation Generator</p>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <div class="Footer">

        </div>
    </body>
</html>