@import './reset.css';

body {
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: 700;
}

/****************************************************************************
Navbar
****************************************************************************/
.Navbar {
    width: 100%;
    height: 46px;
    background: #1A1B1C;
}

.Navbar__Container {
    display: grid;
    grid-template-columns: 100px 100px 260px auto 50px;
    width: 1066px;
    margin: auto;
}

.Navbar__Item {
    line-height: 46px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    height: 100%;
    border-right: solid 1px #3D3D3E;
}

.Navbar__Item--Border-Left {
    border-left: solid 1px #3D3D3E; 
}

.Navbar__Item--No-Border-Right {
    border-right: 0px;
}

.Navbar__Version {
    padding: 5px 10px;
    color: #fff;
    font-weight: 500;
    background: #767676;
    line-height: 16px;
    height: 16px;
    width: 40px;
    border-radius: 4px;
    text-align: center;
    margin: 10px 0px;
    font-size: 14px;
    border-right: solid 1px #3D3D3E;
}

.Navbar__Item--center {
    text-align: center;
}

.fas, .fa-home {
    line-height: 46px;
    display: block;
    margin: auto;
    text-decoration: none;
    color: white;
    width: 20px;
}

/****************************************************************************
Main
****************************************************************************/

.Main {
    display: grid;
    grid-template-columns: 28% auto;
    width: 1066px;
    margin: auto;
    min-height: calc(93vh - 46px);
}

/****************************************************************************
Sidebar
****************************************************************************/

.Sidebar {
    display: grid;
    grid-template-columns: auto;
    height: 120px;
    margin-top: 20px;
    margin-right: 20px;
}

.Sidebar__Item {
    border-right: solid 1px #D4D4D5;
    line-height: 40px;
    padding-left: 10px;
    font-size: 14px;
}

.Sidebar__Item:active {
    font-weight: 700;
    border: solid 1px #D4D4D5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
}

/****************************************************************************
Content
****************************************************************************/

.Content {
    padding: 14px;
    padding-top: 44px;
}

.Content__Title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}

.Content__Subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 80px;
}

.Content__Menu {
    display: grid;
    grid-template-columns: 100px auto;
    margin-bottom: 14px;
}

.Content__Menu-Item {
    padding-bottom: 14px;
    width: 100px;
    text-align: center;
    font-weight: 700;
    border-bottom: 1.6px solid;
}

.Content__Menu-Item--Grey {
    border-bottom: 1.6px solid #DEDEDF;  
}

/****************************************************************************
Card
****************************************************************************/

.Card {
    border: 1px solid #DEDEDF;
    display: grid;
    grid-template-columns: 180px auto 100px;
    padding: 14px;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: 2px;
    margin-bottom: 14px;
}

.Card--Transfer {
    border-top: 2px solid #2085D0; 
}

.Card--Constructor {
    border-top: 2px solid #DA2728;
}

.Card__Title {
    background: #FCFCFC;
    text-align: center;
    border: 1px solid #EFEFEF;
    padding: 2px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}

.Card__SubTitle {
    color: white;
    padding: 2px;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 700;
}

.Card__SubTitle--Constructor {
    background: #DA2728;
}

.Card__SubTitle--Transfer {
    background: #2085D0;
}

.Card__SubTitle--Function {
    color: #5D5D5D;
    background: #E8E8E8;
}


/****************************************************************************
Footer
****************************************************************************/
.Footer {
    display: grid;
    grid-template-columns: 160px auto 520px;
    width: 1066px;
    margin: auto;
    background: #F3F4F5;
    margin: auto;
    border: 1px solid #D4D4D5;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 0px;
    height: 46px;
    line-height: 46px;
    padding: 0px 10px;
}

.Footer__Credits {
    line-height: 46px;
    font-size: 14px;
    color: #616262;
}

.Footer__Build-Date {
    line-height: 46px;
    font-size: 14px;
    color: #616262;
}